<%# search form %>
<% content_for :search_section do %>
  <div class="search">
    <%= form_with(url: flats_path, method: 'get') do |form|  %>
        <div class="d-flex">
          <%= form.text_field :search, value: params[:search], placeholder: 'Search by name, address, etc.', class: "form-control mx-1" %>
          <%= form.submit class: 'btn btn-outline-success' %>
        </div>
    <% end %>
  </div>
<% end %>

<%# All flats result %>
<h1>All our Flats (<%= @flats.length %>)</h1>
<div class="flats">
  <% @flats.each do |flat| %>
    <div class="flat shadow-sm">
      <div class="name-address-guests-price p-3 bg-light ">
        <%= link_to flat.name, flat_path(flat), class: "text-decoration-none h3 text-dark"  %>
        <p> <%= flat.address %> </p>
        <div class="guests-price d-flex">
          <div class="guests d-flex align-items-baseline">
            <i class="fa-solid fa-people-group"></i>
            <p> <%= flat.number_of_guests %> </p>
          </div>
          <div class="price d-flex align-items-baseline mx-3">
            <i class="fa-solid fa-euro-sign"></i>
            <p> <%= flat.price_per_night %></p>
          </div>
        </div>
      </div>
      <div class="info p-3">
          <%= link_to 'More Info', flat_path(flat), class: 'text-decoration-none' %>
          <%= link_to 'Edit', edit_flat_path(flat), class: 'text-warning text-decoration-none mx-2'  %>
      </div>
    </div>
  <% end %>
</div>
