<h1>All our Flats (<%= @flats.length %>)</h1>

<div class="flats">
  <% @flats.each do |flat| %>
    <div class="flat shadow-sm">
      <div class="name-address-guests-price p-3 bg-light ">
        <h2> <%= flat.name %> </h2>
        <p> <%= flat.address %> </p>
        <div class="guests-price d-flex">
          <div class="guests d-flex align-items-baseline">
            <i class="fa-solid fa-people-group"></i>
            <p> <%= flat.number_of_guests %> </p>
          </div>
          <div class="price d-flex align-items-baseline mx-3">
            <i class="fa-solid fa-euro-sign"></i>
            <p> <%= flat.price_per_night %></p>
          </div>
        </div>
      </div>
      <div class="info p-3">
        <p> More Info</p>
      </div>
    </div>
  <% end %>
</div>
