<%# flat image %>
<% content_for :image_section do  %>
  <div id="image-section">
      <%= image_tag '794a4fda36a64b7fafd20fbcb5971633.webp', alt: "text", class:"flat-img" %>
  </div>
<% end %>


<div class="flat-booking-share row">
  <%# succesful message %>
  <% if flash[:success].present? %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
  <% end %>

  <%# Name, address and description column  %>
  <div class="name-address-description-map col-lg-8 col-md-6 col-sm-12">
    <div class="name-address bg-light p-3 mb-3 rounded">
      <h1> <%= @flat.name %></h1>
      <p> <%= @flat.address %></p>
    </div>
    <div class="description-map bg-light p-3">
      <h2>A bit more about this flat</h2>
      <p> <%= @flat.description %></p>
    </div>
  </div>

  <%# Booking, details and share column  %>
  <div class="booking-details-share col-lg-4 col-md-6 col-sm-12">
    <div class="booking bg-light p-3 mb-3 rounded">
      <h3>Book this place!</h3>
      <%= form_with(model: @flat) do |f| %>
        <%= f.text_field :from_date, placeholder: '12/10/2017', class: "form-control mb-2" %>
        <%= f.text_field :to_date, placeholder: '18/10/2017', class: "form-control mb-2" %>
        <%= f.submit class: 'btn btn-success', style: "width: -webkit-fill-available;" %>
      <% end %>
    </div>
    <div class="details p-3 bg-light mb-3 rounded">
      <h2>Details</h2>
      <div class="guest-price d-flex">
        <div class="price d-flex align-items-baseline">
          <i class="fa-solid fa-people-group"></i>
          <p class="mx-1 my-0"> <%= @flat.number_of_guests %> people</p>
        </div>
        <div class="price d-flex align-items-baseline mx-3">
          <i class="fa-solid fa-euro-sign mx-1"></i>
          <p class="my-0"> <%= @flat.price_per_night %> </p>
        </div>
      </div>
    </div>
    <div class="share p-3 bg-light">
      <div class="d-flex align-items-center justify-content-between">
        <p class= "m-0">Share</p>
        <div class="links d-flex">
          <i class="fa-brands fa-facebook px-2"></i>
          <i class="fa-brands fa-twitter px-2"></i>
          <i class="fa-brands fa-instagram px-2"></i>
        </div>
      </div>
    </div>
  </div>
</div>
